In [59]:
import pandas as pd
import numpy as np

# 1. 유저기반 추천시스템

In [60]:
movies_df = pd.read_csv(
    "./data/practice/movies.csv"
)

movies_df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [61]:
ratings_df = pd.read_csv(
    "./data/practice/ratings.csv"
)

ratings_df.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [62]:
movies_df.info()

<class 'pandas.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9742 non-null   int64
 1   title    9742 non-null   str
 2   genres   9742 non-null   str
dtypes: int64(1), str(2)
memory usage: 228.5 KB

In [63]:
ratings_df.info()

<class 'pandas.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100836 non-null  int64
 1   movieId    100836 non-null  int64
 2   rating     100836 non-null  float64
 3   timestamp  100836 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

In [67]:
df = pd.merge(
    left=ratings_df,
    right=movies_df,
    how="inner",
    on="movieId"
)

df.head()

,userId,movieId,rating,timestamp,title,genres
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,3,4.0,964981247,Grumpier Old Men (1995),Comedy|Romance
2,1,6,4.0,964982224,Heat (1995),Action|Crime|Thriller
3,1,47,5.0,964983815,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
4,1,50,5.0,964982931,"Usual Suspects, The (1995)",Crime|Mystery|Thriller

In [68]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 6 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100836 non-null  int64
 1   movieId    100836 non-null  int64
 2   rating     100836 non-null  float64
 3   timestamp  100836 non-null  int64
 4   title      100836 non-null  str
 5   genres     100836 non-null  str
dtypes: float64(1), int64(3), str(2)
memory usage: 4.6 MB

In [69]:
user_ratings_df = df.pivot_table(
    index="userId",
    columns="title",
    values="rating"
)

user_ratings_df.head()

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [70]:
user_ratings_df = user_ratings_df.fillna(0)
user_ratings_df.head()

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [71]:
from sklearn.metrics.pairwise import cosine_similarity

user_base_result = cosine_similarity(user_ratings_df, user_ratings_df)
user_base_df = pd.DataFrame(
    data=user_base_result, 
    index=user_ratings_df.index,
    columns=user_ratings_df.index
)

user_base_df

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
userId,,,,,,,,,,,,,,,,,,,,,
1,1.000000,0.027283,0.059720,0.194395,0.129080,0.128152,0.158744,0.136968,0.064263,0.016875,...,0.080554,0.164455,0.221486,0.070669,0.153625,0.164191,0.269389,0.291097,0.093572,0.145321
2,0.027283,1.000000,0.000000,0.003726,0.016614,0.025333,0.027585,0.027257,0.000000,0.067445,...,0.202671,0.016866,0.011997,0.000000,0.000000,0.028429,0.012948,0.046211,0.027565,0.102427
3,0.059720,0.000000,1.000000,0.002251,0.005020,0.003936,0.000000,0.004941,0.000000,0.000000,...,0.005048,0.004892,0.024992,0.000000,0.010694,0.012993,0.019247,0.021128,0.000000,0.032119
4,0.194395,0.003726,0.002251,1.000000,0.128659,0.088491,0.115120,0.062969,0.011361,0.031163,...,0.085938,0.128273,0.307973,0.052985,0.084584,0.200395,0.131746,0.149858,0.032198,0.107683
5,0.129080,0.016614,0.005020,0.128659,1.000000,0.300349,0.108342,0.429075,0.000000,0.030611,...,0.068048,0.418747,0.110148,0.258773,0.148758,0.106435,0.152866,0.135535,0.261232,0.060792
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,0.164191,0.028429,0.012993,0.200395,0.106435,0.102123,0.200035,0.099388,0.075898,0.088963,...,0.178084,0.116534,0.300669,0.066032,0.148141,1.000000,0.153063,0.262558,0.069622,0.201104
607,0.269389,0.012948,0.019247,0.131746,0.152866,0.162182,0.186114,0.185142,0.011844,0.010451,...,0.092525,0.199910,0.203540,0.137834,0.118780,0.153063,1.000000,0.283081,0.149190,0.139114
608,0.291097,0.046211,0.021128,0.149858,0.135535,0.178809,0.323541,0.187233,0.100435,0.077424,...,0.158355,0.197514,0.232771,0.155306,0.178142,0.262558,0.283081,1.000000,0.121993,0.322055
609,0.093572,0.027565,0.000000,0.032198,0.261232,0.214234,0.090840,0.423993,0.000000,0.021766,...,0.035653,0.335231,0.061941,0.236601,0.097610,0.069622,0.149190,0.121993,1.000000,0.053225
610,0.145321,0.102427,0.032119,0.107683,0.060792,0.052668,0.193219,0.078153,0.074399,0.121072,...,0.222491,0.087528,0.163094,0.052552,0.119295,0.201104,0.139114,0.322055,0.053225,1.000000

In [72]:
user_base_df.iloc[0].sort_values(ascending=False)   # 만약 유사도가 낮다면 다른 추천시스템을 도입해야 함

## 1번 유저기준 266번 유저의 유사도가 가장 높았지만 35.7%는 유사하다고 할 수 없다..

userId
1      1.000000
266    0.357408
313    0.351562
368    0.345127
57     0.345034
         ...
397    0.000000
506    0.000000
556    0.000000
496    0.000000
175    0.000000
Name: 1, Length: 610, dtype: float64

In [73]:
## 0번 유저가 본 영화 리스트업하고 다른 가장 유사도가 높았던 유저(266)의 영화 리스트업한다. 
## 같은 영화를 제외하고 추천해주기

my_list = []

for idx, rating in enumerate(user_ratings_df.iloc[0]):
    
    if rating > 0:
        my_list.append(user_ratings_df.iloc[0].index[idx])


print(f"유저(0번)가 본 영화의 개수 : {len(my_list)}")

유저(0번)가 본 영화의 개수 : 232

In [75]:
u_data = user_ratings_df.iloc[266]

u_data[u_data>3].index

Index(['2001: A Space Odyssey (1968)', '6th Day, The (2000)', 'Aliens (1986)',
       'Alien³ (a.k.a. Alien 3) (1992)', 'American Beauty (1999)',
       'American Pie (1999)', 'Apollo 13 (1995)', 'Arachnophobia (1990)',
       'Austin Powers: The Spy Who Shagged Me (1999)',
       'Back to the Future (1985)', 'Blade Runner (1982)', 'Braveheart (1995)',
       'Caddyshack (1980)',
       'City of Lost Children, The (Cité des enfants perdus, La) (1995)',
       'Close Encounters of the Third Kind (1977)',
       'Crouching Tiger, Hidden Dragon (Wo hu cang long) (2000)',
       'Delicatessen (1991)', 'Doors, The (1991)', 'End of Days (1999)',
       'Fatal Attraction (1987)', 'Fly, The (1986)', 'Galaxy Quest (1999)',
       'Gattaca (1997)', 'Gladiator (2000)', 'Insider, The (1999)',
       'Jurassic Park (1993)', 'Matrix, The (1999)',
       'Poseidon Adventure, The (1972)', 'Postman, The (Postino, Il) (1994)',
       'Predator (1987)', 'Princess Bride, The (1987)',
       'Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981)',
       'Shakespeare in Love (1998)', 'Silence of the Lambs, The (1991)',
       'Snatch (2000)', 'Star Trek: First Contact (1996)',
       'Star Wars: Episode IV - A New Hope (1977)',
       'Star Wars: Episode V - The Empire Strikes Back (1980)',
       'Star Wars: Episode VI - Return of the Jedi (1983)',
       'Stir of Echoes (1999)', 'Superstar (1999)',
       'Terminator 2: Judgment Day (1991)', 'Terminator, The (1984)',
       'Thirteen Days (2000)', 'Westworld (1973)', 'Wizard of Oz, The (1939)',
       'X-Files: Fight the Future, The (1998)', 'eXistenZ (1999)'],
      dtype='str', name='title')

In [76]:
# set()을 사용하여 차집합을 구한다: 다른유저가 본것들 중에 내가 본것을 뺀다.
# 응용할 수 있다

set(u_data[u_data>3].index) - set(my_list)

{'2001: A Space Odyssey (1968)',
 '6th Day, The (2000)',
 'Aliens (1986)',
 'Alien³ (a.k.a. Alien 3) (1992)',
 'American Pie (1999)',
 'Apollo 13 (1995)',
 'Arachnophobia (1990)',
 'Austin Powers: The Spy Who Shagged Me (1999)',
 'Blade Runner (1982)',
 'Caddyshack (1980)',
 'City of Lost Children, The (Cité des enfants perdus, La) (1995)',
 'Close Encounters of the Third Kind (1977)',
 'Crouching Tiger, Hidden Dragon (Wo hu cang long) (2000)',
 'Delicatessen (1991)',
 'Doors, The (1991)',
 'End of Days (1999)',
 'Fatal Attraction (1987)',
 'Fly, The (1986)',
 'Galaxy Quest (1999)',
 'Gattaca (1997)',
 'Insider, The (1999)',
 'Poseidon Adventure, The (1972)',
 'Postman, The (Postino, Il) (1994)',
 'Shakespeare in Love (1998)',
 'Snatch (2000)',
 'Star Trek: First Contact (1996)',
 'Stir of Echoes (1999)',
 'Superstar (1999)',
 'Terminator 2: Judgment Day (1991)',
 'Thirteen Days (2000)',
 'Westworld (1973)',
 'X-Files: Fight the Future, The (1998)',
 'eXistenZ (1999)'}

In [ ]:
# 응용할 수 있다: 
## 예시1) 유사도 상위 3명의 다른 유저들의 교집합을 구해서 내가 본것을 뺀다. <-- 해보기.
## 예시2) 결과로 나온 영화의 ratings의 평균(유사한 유저들의 평균 점수)을 구해서 추천

## 1) 유저기반 추천시스템 응용1
* 유사도 상위 3명의 다른 유저들의 교집합을 구해서 내가 본것을 뺀다.

In [106]:
# 예시1)
top3_users = user_base_df.iloc[0].sort_values(ascending=False)[1:4].index.values
top3_users

array([266, 313, 368])

In [ ]:
top3_data = user_ratings_df.iloc[top3_users-1]      # 인덱스 값이라 1 빼줌
top3_data

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
266,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
313,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
368,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
# 내가 짠 코드
set_list = []

for u in top3_users:
    m = top3_data.loc[u,:]
    m = set(m[m>3].index)
    set_list.append(m)

common = set.intersection(*set_list) if set_list else set()         # 3명의 유저가 4점이상 평가한 영화들의 교집합
common

{'Aliens (1986)',
 'Apocalypse Now (1979)',
 'Die Hard (1988)',
 'Fargo (1996)',
 'Full Metal Jacket (1987)',
 'Goodfellas (1990)',
 'Matrix, The (1999)',
 'Pulp Fiction (1994)',
 'Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981)',
 'Reservoir Dogs (1992)',
 'Saving Private Ryan (1998)',
 'Terminator, The (1984)',
 'Usual Suspects, The (1995)'}

In [ ]:
# GPT 버전의 깔끔한 코드: pivot에서 바로 구하기
top3_rows = top3_data.loc[top3_users]          # shape: (3, n_movies)
common = set(top3_rows.columns[(top3_rows > 3).all(axis=0)])
common

{'Aliens (1986)',
 'Apocalypse Now (1979)',
 'Die Hard (1988)',
 'Fargo (1996)',
 'Full Metal Jacket (1987)',
 'Goodfellas (1990)',
 'Matrix, The (1999)',
 'Pulp Fiction (1994)',
 'Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981)',
 'Reservoir Dogs (1992)',
 'Saving Private Ryan (1998)',
 'Terminator, The (1984)',
 'Usual Suspects, The (1995)'}

In [149]:
# top3 유저의 교집합에서 내가 본 것 빼기.
common - set(my_list)

{'Aliens (1986)', 'Die Hard (1988)'}